#login-body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: url('/public/bg.svg') no-repeat;
  background-position: center;
  background-size: cover;
}
#signup-body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: url('/public/bg2.svg') no-repeat;
  background-position: center;
  background-size: cover;
}
.back {
  position: absolute;
  top: 50px;
  left: 50px;
  background-color: var(--main);
  border-radius: 200px;
  width: 50px;
  height: 50px;
  color: var(--white);
  padding: 10px 14px;
  letter-spacing: 2px;
  font-size: 24px;
}
#signup-body .form-container {
  position: relative;
  width: 480px;
  height: fit-content;
  border-radius: 0.75rem;
  background-color: var(--white);
  padding: 2rem;
  color: var(--black);
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

#login-body .form-container {
  width: 480px;
  height: fit-content;
  border-radius: 0.75rem;
  background-color: var(--white);
  padding: 2rem;
  color: var(--black);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

.remember {
  display: flex;
  gap: 3px;
}

.group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px 0px;
}

.title {
  text-align: center;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: var(--dark);
  gap: 1px;
}


.input-group {
  margin: 25px 0px;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.input-group label {
  display: block;
  color: var(--black);
  margin-bottom: 4px;
}

.input-group input {
  width: 100%;
  border-radius: 0.375rem;
  border: 1px solid var(--grey);
  outline: 0;
  background-color: var(--white);
  padding: 0.75rem 1rem;
  color: var(--black);
}
.input-group textarea {
  width: 100%;
  border-radius: 0.375rem;
  border: 1px solid var(--grey);
  outline: 0;
  background-color: var(--white);
  padding: 0.75rem 1rem;
  resize: none;
  color: var(--black);
}

.input-group input:focus,
.input-group select:focus,.input-group textarea:focus{
  border-color: var(--main);
}
.input-group select{
  width: 100%;
  border-radius: 0.375rem;
  border: 1px solid var(--grey);
  outline: 0;
  background-color: var(--white);
  padding: 10px;
  color: var(--black);
}
.forgot a,
.signup a {
  color: var(--dark);
  text-decoration: none;
  font-size: 14px;
}

.forgot a:hover,
.signup a:hover {
  text-decoration: underline var(--main);
}

.sign {
  display: block;
  width: 100%;
  background-color: var(--main);
  padding: 0.75rem;
  text-align: center;
  color: var(--white);
  border: none;
  border-radius: 0.375rem;
  font-weight: 600;
  margin-top: 20px;
  letter-spacing: 1px;
}

.social-message {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.line {
  height: 1px;
  flex: 1 1 0%;
  background-color: var(--dark);
}

.social-message .message {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--dark);
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons .icon {
  border-radius: 0.125rem;
  padding: 0.75rem;
  border: none;
  background-color: transparent;
  margin-left: 8px;
}

.social-icons .icon svg {
  height: 1.25rem;
  width: 1.25rem;
  fill: var(--dark);
}

.signup {
  text-align: center;
  font-size: 0.75rem;
  line-height: 1rem;
  color: var(--dark);
}

.doctor-create .input-group{
  margin: 0px !important;
}
.doctor-create .group .input-group{
  width: 47% !important;
}
.dashboard{
  display: flex;
  /* overflow: hidden; */
}
.sidebar{
  height: 100vh;
  width: 80px;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  gap: 150px;
  background-color: var(--white);
}
.article{
  margin-left: 80px;
  width: 100%;
  height: 100vh;
  display: flex;
  background: rgba(52, 152, 219, 0.12);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
.brand{
  background-color: var(--main);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 7px;
}
.brand img{
  width: 60%;
}
.sidebar nav{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.sidebar nav a, .sidebar nav button{
  color: var(--dark);
  background-color: transparent;
  border: none;
  font-size: 24px;
}
.sidebar nav hr{
  margin: 15px 0px;
  width: 100%;
}
.active{
  color: var(--main) !important;
}
.logout{
  color: rgb(223, 59, 59) !important;
}
.main{
  width: 70%;
  height: 100vh;
  padding: 20px;
  overflow: auto;

}
.main::-webkit-scrollbar{
  display: none;
}

.aside{
  width: 30%;
  height: 100vh;
  overflow: auto;
  padding: 20px;
  background: rgba(52, 152, 219, 0.1);
}
.aside::-webkit-scrollbar {
  display: none;
}
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.text{
  color: var(--dark);
}
.actions{
  display: flex;
  align-items: center;
  gap: 15px;
}
.actions button, .actions a{
  width: 45px;
  height: 45px;
  outline: none;
  text-decoration: none;
}
.create{
  background-color: transparent;
  border: 2px dashed #748da7;
  border-radius: 200px;
  color: #748da7;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search{
  border-radius: 200px;
  display: flex;
  align-items: center;
  overflow: hidden;

}
.search input{
  height: 45px;
  padding: 0px 20px;
  background-color: #4fb5fa;
  border: none;
  color: var(--white);
  border-radius: 7px 0px 0px 7px;
  /* display: none; */
}
.search input:focus{
  border: none;
  outline: none;
}
.search button{
    background-color: #4fb5fa;
      color: #fafafa;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
}
.search input::placeholder{
  color : var(--white)
}

.statistics{
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  /* border-bottom: 2px solid #748da733; */
}
.stats{
    display: flex;
      gap: 35px;
      align-items: center;
}
.stat{
  width: fit-content;
  height: fit-content;
  /* background-color: #fff; */
  border-radius: 10px;
  color: var(--dark);
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.stat h4{
  font-size: 22px;
}
.stat span{
  color: #748da7;
}
.reminder{
  width: 100%;
  height: 325px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='700' preserveAspectRatio='none' viewBox='0 0 1440 700'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1008%26quot%3b)' fill='none'%3e%3crect width='1440' height='700' x='0' y='0' fill='rgba(52%2c 152%2c 219%2c 1)'%3e%3c/rect%3e%3cpath d='M727.94-96.24C617.63-24.59 730.01 316.88 481.55 368.63 233.08 420.38 124.7 593.99-11.24 599.63' stroke='rgba(79%2c 181%2c 250%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M803.6-21.1C681.42 27.57 774.2 371.61 490.95 401.98 207.7 432.35 31.68 622.63-134.34 625.98' stroke='rgba(79%2c 181%2c 250%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M860.34-104.3C650.43-40.04 598.79 549.63 286.23 560.11-26.33 570.59-138.34 393.82-287.88 392.11' stroke='rgba(79%2c 181%2c 250%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1289.09-75.21C1101.2-65 991.48 256.04 621.52 272.4 251.56 288.76 136.2 559.98-46.05 566.4' stroke='rgba(79%2c 181%2c 250%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1166.41-24.96C989.79 59.37 992.54 604.43 736.16 629.1 479.77 653.77 521.03 541.6 305.9 541.6 90.78 541.6-14.59 628.66-124.35 629.1' stroke='rgba(79%2c 181%2c 250%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1008'%3e%3crect width='1440' height='700' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");  margin-top: 30px;
  border-radius: 15px;
}
.statistics h2{
  color: var(--dark);
}
.patient{
  width: 370px;
  height: 300px;
  background-color: var(--white);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
  padding: 15px;
}
.patients{
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 35px;
}
.card-top{
  display: flex;
  align-items: center;
  gap: 5px;
}
.card-top i{
  font-size: 24px;
}
.card-top h4{
  color: var(--dark);
  font-size: 20px;
}
.card-body h4:not(:first-child){
  margin-top: 15px;
}
.card-body h4{
    color: var(--main);
}
.card-body ul{
  list-style-type: none;
  color: var(--dark);
}
.card-body p{
  margin-top: 15px;
    color: var(--dark);
}
.card-body button{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='700' preserveAspectRatio='none' viewBox='0 0 1440 700'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1009%26quot%3b)' fill='none'%3e%3crect width='1440' height='700' x='0' y='0' fill='rgba(52%2c 152%2c 219%2c 1)'%3e%3c/rect%3e%3cpath d='M727.94-96.24C617.63-24.59 730.01 316.88 481.55 368.63 233.08 420.38 124.7 593.99-11.24 599.63' stroke='rgba(250%2c 250%2c 250%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M803.6-21.1C681.42 27.57 774.2 371.61 490.95 401.98 207.7 432.35 31.68 622.63-134.34 625.98' stroke='rgba(250%2c 250%2c 250%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M860.34-104.3C650.43-40.04 598.79 549.63 286.23 560.11-26.33 570.59-138.34 393.82-287.88 392.11' stroke='rgba(250%2c 250%2c 250%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1289.09-75.21C1101.2-65 991.48 256.04 621.52 272.4 251.56 288.76 136.2 559.98-46.05 566.4' stroke='rgba(250%2c 250%2c 250%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1166.41-24.96C989.79 59.37 992.54 604.43 736.16 629.1 479.77 653.77 521.03 541.6 305.9 541.6 90.78 541.6-14.59 628.66-124.35 629.1' stroke='rgba(250%2c 250%2c 250%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1009'%3e%3crect width='1440' height='700' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");    margin-top: 15px;
    background-position: center;
    background-size: cover;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 7px;
    height: 40px;
    color: var(--white);
    font-size: 16px;
}
#createP{
  width: fit-content !important;
}

.aside-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 45px;
}
.aside-header h2{
  color: var(--dark);
}

.aside-header button{
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 200px;
  border: none;
  outline: none;
  background-color: #4fb5fa;
  color: var(--white);
}
.appts{
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: fit-content;
}

.appt{
  width: 100%;
  height: 150px;
  border-radius: 7px;
  background-color: var(--white);
  overflow: hidden;
  display: flex;
}
.appt-side{
  width: 10px;
  height: 100%;
  background-color: var(--main);
}
.appt-main{
  padding: 7px 15px;
  color: var(--dark);
  width: 100%;
}
.appt-main span{
  color: #748da7;
margin-bottom: 5px;
}
.appt-top{
  width: 100%;
  padding-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #2c364015;
}
.appt-top button{
  font-size: 23px;
  color: #748da7;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding-left: 20px;
}
.appt-body{
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cap{
  padding: 5px 15px;
  border-radius: 60px;
}
.upc{
  color: #20c263;
  background-color: #2ecc7036;
}
.exp{
  background-color: rgba(222, 44, 44, 0.281);
  color: rgb(216, 49, 49);
}
.in-pro{
  background-color: #3498db3e;
  color: #3498DB;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.423);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-content {
  background-color: var(--white);
  border-radius: 10px;
  width: 35%;
  padding: 10px 20px;
  height: 55%;
}
.close {
  font-size: 24px;
  cursor: pointer;
  color: var(--black);
}

.modal-top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.modal-top h2 {
  color: var(--main);
  font-size: 32px;
}
.createModal{
  display: flex;
  flex-direction: column;
}

.createModal label{
  font-weight: 500;
  font-size: 16px;
}
.createModal button{
  background-color: var(--main);
  color: var(--white);
  padding: 10px 40px;
  border: none;
  border-radius: 7px;
  font-size: 16px;
  align-self: flex-end;
}
.createModal .input-group{
  margin: 15px 0px;
}
.pop{
  position: relative;
}
.details{
  position: absolute;
  right: 0;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  display: none;
  width: 120px;
  padding: 5px 0px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.details span{
  cursor: pointer;
}
.details span:not(:last-child){
  border: none;
  outline: none;
  /* color: var(--dark); */
  padding: 5px;
  font-size: 16px;
  width: 90%;
  text-align: center;
  border-bottom: #2c36401f 1px solid;
}
.pop:hover .details {
  display: flex;
}

#welcome{
  width: 100%;
  height: fit-content;
  overflow: hidden;
  background-color: var(--white);
}
.hero{
  position: relative;
  width: 100vw;
  height: 65vh;
  overflow: hidden;
}
.hero header{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 180px;
  background-color: transparent;
  z-index: 20;
  position: absolute;
}
.hero header div{
  display: flex;
  align-items: center;
  gap: 25px;
}
.hero header div a{
  color: var(--white);
  text-decoration: none;
  font-size: 17px;
}
.hero header nav{
  display: flex;
  align-items: center;
  gap: 35px;
  font-weight: 500;
}
.hero header nav a{
  color: var(--dark);
  text-decoration: none;
  font-size: 17px;
  font-weight:500;
} 
.big-rect{
  width: 1100px;
  height: 380px;
  position: absolute;
  top: -100px;
  right: -350px;
  z-index: 10;
  transform: rotate(-47deg);
  background-color: var(--dark);
  border-radius: 300px 0px 0px 300px;
}
.hero header h2{
  color: var(--dark);
}
.mini-rect{
  width: 400px;
  height: 180px;
  position: absolute;
  top: 150px;
  right: -50px;
  z-index: 11;
  transform: rotate(-47deg);
  background-color: var(--main);
  border-radius: 200px;
}
.heart{
  position: absolute;
  top: 280px;
  right: 200px;
  z-index: 12;
  width: 20%;
}
.heart img{
  width: 100%;
}
.hero .text{
  padding: 220px 180px;
}
.hero .text h4{
  font-family: "Abhaya Libre", serif;
  font-weight: 800;
  font-style: normal;
  font-size: 60px;
}
.hero-acts{
  display: flex;
  align-items: center;
  margin-top: 25px;
  gap: 25px;
}
.hero-acts a{
  color: var(--white);
  background-color: var(--main);
  text-decoration: none;
  font-size: 17px;
  font-weight: 500;
  padding: 10px 25px;
  border-radius: 200px;
  transition: all 0.3s ease-in-out;
}
.hero-acts a:hover{
  background-color: var(--dark);
}
.hero-acts .play{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.hero-acts .play a{
  padding: 0px 10px 0px 12px;
  width: 41px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 41px;
  background-color: transparent;
  color: var(--main);
  border: 2px solid var(--main);
  font-size: 20px;
}
.hero-acts .play a:hover{
  background-color: var(--main);
  color: var(--white);
}
.hero-acts .play span{
  font-size: 18px;
  padding: 3px 0px;
  border-bottom: 1px solid var(--main);
}
.services{
  padding: 0px 180px 20px;
  margin-top: -55px;
  position: absolute;
  z-index: 25;
  height: fit-content;
  background-color: var(--white);
  width: 100%;
  overflow: hidden;
}
.services h4{
  color: var(--main);
  font-size: 24px;
  margin-bottom: 15px;
}
.cards{
    display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
}
.card{
  width: 260px;
  border-radius: 15px;
  height: 260px;
  background-color: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: all ease-in-out 0.3s;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: center;
    transition: all ease-in-out 0.3s;
}
.card:hover{
  background-color: #3498db23;
}
.card-icon{
  width: 60px;
  height: 60px;
  border-radius: 200px;
  display: flex;
  align-items: center;
  color: #3498DB;
  font-size: 24px;
  justify-content: center;
  background-color: #3498db23;
  transition: all ease-in-out 0.3s;
}
.card:hover .card-icon{
  background-color: var(--white);
}
.card h4{
  color: var(--dark);
  font-size: 22px;
}
.card p{
  color: var(--dark);
  font-size: 16px;
  text-align: center;
}
.w-main{
  background-color: #3498db23;
  padding: 20px 180px;
  margin-top: 335px;
  width: 100%;
  height: fit-content;
}
.m-stats{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.m-stat{
  color: var(--main);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.m-stat h4{
  font-size: 44px;
}
.m-stat span{
  color: var(--dark);
  font-weight: 500;
  font-size: 18px;
}
.m-text{
  margin-top: 85px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.m-right{
  position: relative;
}
.m-right img{
  width: 500px;
  border-radius: 15px;
}
.m-left{
  color: var(--black);
}
.m-left h4{
  color: var(--main);
  font-size: 22px;
}
.m-left h2{
  font-size: 44px;
  margin-bottom: 25px;
}
.m-left p{
  font-size: 16px;
  width: 60%;
}
.m-left button{
  background-color: var(--main);
  color: var(--white);
  padding: 10px 40px;
  border: none;
  border-radius: 7px;
  font-size: 16px;
  margin-top: 15px;
}
.right-card{
  position: absolute;
  bottom: 30px;
  left: -250px;
  width: 450px;
  background-color: var(--white);
  padding: 20px 30px;
  border-radius: 7px;
  text-align: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.right-card h4{
  color: var(--main);
  font-size: 24px;
  margin-bottom: 5px;
}
footer{
  width: 100%;
  height: 235px;
  padding: 25px 180px;
  background-color: var(--white);
  display: flex;
  /* align-items: center; */
  gap: 65px;
  justify-content: space-between;
}

.list {
  width: 20%;
}

.list h4 {
  font-size: 21px;
  color: var(--bg-color);
  margin-bottom: 30px;
  position: relative;
}

.list h4::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 60px;
  left: 0;
  bottom: -10px;
  background: var(--main);
}
.list ul{
  list-style: none;
}
.list ul li:not(last-child) {
  margin-bottom: 16px;
}

.list ul li a {
  color: var(--main);
  font-size: 16px;
  text-decoration: none;
  display: block;
  transition: .3s;
}

.list ul li a:hover {
  color: var(--main);
  transform: translateX(14px);
}

.list .social a {
  height: 40px;
  width: 40px;
  background: var(--main);
  color: var(--white);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 21px;
  border-radius: 15px;
  transition: .3s;
  margin-right: 10px;
  text-decoration: none;
}

.list .social a:hover {
  transform: scale(1.1);
}

.m-icon{
  font-size: 98px;
  rotate: 35deg;
  position: absolute;
  left: -200px;
  top: 70px;
  color: #4fb5fa;
}

.aside-header-admin{
  .stats {
      display: flex;
      gap: 35px;
      align-items: center;
      margin-top: 10px;
    }
    h2{
      color: var(--dark);
    }
}
.aside-header-admin{
  display: flex;
  flex-direction: column;
}

table{
  width: 100%;
  background-color: white;
  text-align: left;
  border-collapse: collapse;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
table thead th{
  color: var(--dark);
  font-size: 16px;
  border-bottom: 1px solid #3498db23;
  padding: 10px;
}

table thead th:last-child{
  text-align: center;
}
table tbody td{
  color: var(--dark);
  font-size: 16px;
  padding: 10px;
}
table tbody tr:not(:last-child){
  border-bottom: 1px solid #6060602e;
}
table tbody td 
.ban, .restore{
  display: flex;
  align-items: center;
  justify-content: center;
}
table tbody td:last-child{
  display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.delete{
    background-color: transparent;
      color: #e74c3c;
      padding: 5px 10px;
      border: none;
      cursor: pointer;
      font-size: 18px;
}
.approve{
    background-color: transparent;
      color: var(--main);
      padding: 5px 10px;
      border: none;
      cursor: pointer;
      font-size: 18px;
}
.ban button, .patient-ban button{
  background-color: transparent;
  color: #e74c3c;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  font-size: 18px;
}
.restore button, .patient-restore button{
  background-color: transparent;
  color: var(--main);
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  font-size: 18px;
}
.mac{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.notif{
  position: relative;
}
.notif i{
  font-size: 18px;
  padding: 10px;
  color: #fff;
  border-radius: 200px;
  background-color: #4fb5fa;
}
.aside-patients{
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: fit-content;
  margin-top: 30px;
}
.aside-patient{
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 4px 0px;
}
.patient-top{
  display: flex;
  align-items: center;
  gap: 10px;
}
.patient-top h4{
  color: var(--dark);
  font-size: 20px;
}
.patient-top i{
  font-size: 22px;
}
.patient-content{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.patient-content span{
  color: #748da7;
  font-size: 16px;
}
.check-btn{
  background-color: var(--main);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 7px;
  font-size: 16px;
  cursor: pointer;
  align-self: flex-end;
  margin-top: 20px
}

.details-body{
  width: 100%;
  height: 100vh;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='700' preserveAspectRatio='none' viewBox='0 0 1440 700'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1027%26quot%3b)' fill='none'%3e%3crect width='1440' height='700' x='0' y='0' fill='rgba(250%2c 250%2c 250%2c 1)'%3e%3c/rect%3e%3cpath d='M149.6 0C191.03 47.18 177.15 94.3 153.66 175C126.21 269.3 41.38 281.24 47.73 350C52.05 396.74 117.7 406 175 406C205.47 406 215.64 384.3 223.28 350C241.37 268.8 210.87 260 226.47 175C242.98 85 241.31 65.43 287.5 0C303.08 -22.07 318.75 0 350 0C437.5 0 437.5 0 525 0C612.5 0 612.5 0 700 0C787.5 0 787.5 0 875 0C962.5 0 962.5 0 1050 0C1137.5 0 1137.5 0 1225 0C1297.56 0 1311.38 -21.64 1370.12 0C1398.88 10.6 1376.5 64.47 1400 64.47C1436.81 64.47 1440.94 18.35 1490.74 0C1528.44 -13.89 1561.31 -28.44 1575 0C1603.44 59.06 1575 87.5 1575 175C1575 262.5 1575 262.5 1575 350C1575 437.5 1575 437.5 1575 525C1575 612.5 1618.75 656.25 1575 700C1531.25 743.75 1487.5 700 1400 700C1312.5 700 1312.5 700 1225 700C1137.5 700 1137.5 700 1050 700C979.16 700 932.32 738.76 908.33 700C878.16 651.26 953.67 594.66 941.67 525C937.01 497.95 909.13 506.91 875 506.58C788.29 505.73 787.39 513.93 700 522.64C695.03 523.14 693.2 521.01 690.28 525C628.2 609.69 638.19 627.8 570 700C555.55 715.3 547.5 700 525 700C437.5 700 437.5 700 350 700C262.5 700 262.5 700 175 700C87.5 700 43.75 743.75 0 700C-43.75 656.25 0 612.5 0 525C0 437.5 0 437.5 0 350C0 262.5 0 262.5 0 175C0 87.5 -40.33 47.17 0 0C34.47 -40.33 114.2 -40.32 149.6 0' stroke='rgba(52%2c 152%2c 219%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1400 490C1383.88 490 1374.39 508.16 1374.39 525C1374.39 539.85 1384.6 553.38 1400 553.38C1425.03 553.38 1455.26 540.44 1455.26 525C1455.26 508.75 1424.31 490 1400 490' stroke='rgba(52%2c 152%2c 219%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M79.03 0C95.28 60.59 74.26 92.35 46.95 175C34.75 211.94 12.99 239.17 0 239.17C-10.48 239.17 0 207.08 0 175C0 87.5 -27.22 60.28 0 0C12.29 -27.22 71.81 -26.91 79.03 0' stroke='rgba(52%2c 152%2c 219%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M453.41 175C503.66 108 489.45 96.36 525 17.5C528.89 8.86 523.4 0.89 532.29 0C610.9 -7.86 616.14 0 700 0C751.61 0 757.45 -15.92 803.21 0C844.95 14.52 840.99 60.87 875 60.87C904.89 60.87 895.12 12.48 931 0C982.62 -17.96 990.5 0 1050 0C1137.5 0 1137.5 0 1225 0C1270.89 0 1289.31 -28.35 1316.77 0C1374.07 59.15 1373.72 83.56 1394.53 175C1413.55 258.56 1424.73 271.92 1396.43 350C1361.3 446.92 1266.74 440.76 1267.68 525C1268.53 601.57 1331.88 600.37 1400 671.62C1415.54 687.87 1435 692.01 1435 700C1435 706.2 1417.5 700 1400 700C1312.5 700 1312.5 700 1225 700C1137.5 700 1137.5 700 1050 700C1013.89 700 977.78 720.39 977.78 700C977.78 660.52 1003.13 629.18 1050 580.26C1086.97 541.68 1134.33 568.91 1145.45 525C1163.49 453.78 1138.22 432.79 1108.33 350C1090.5 300.61 1079.91 260.64 1050 260.64C1019.4 260.64 1024.2 310.29 987.31 350C936.7 404.47 941.11 422.89 875 449.01C797.46 479.64 786.18 471.32 700 463.51C611.18 455.47 613.89 426.25 525 417.31C438.89 408.64 423.77 450.23 350 428.29C310.62 416.58 298.71 390.46 298.71 350C298.71 301.73 314 291.56 350 250.83C391.35 204.06 416.16 224.66 453.41 175' stroke='rgba(52%2c 152%2c 219%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M700 118.38C656.83 118.38 603.75 151.64 603.75 175C603.75 196.26 654.18 207.63 700 207.63C725.78 207.63 746.95 194.52 746.95 175C746.95 149.89 728.43 118.38 700 118.38' stroke='rgba(52%2c 152%2c 219%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M92.11 525C132.7 507.28 134.95 493.5 175 493.5C202.65 493.5 199.96 511.78 227.5 525C287.46 553.78 295.89 540.28 350 577.5C423.1 627.78 481.92 664.65 481.92 700C481.92 725.9 415.96 700 350 700C262.5 700 262.5 700 175 700C87.5 700 50.18 737.32 0 700C-37.32 672.25 -25.77 618.83 0 569.87C20.29 531.33 45.2 545.47 92.11 525' stroke='rgba(52%2c 152%2c 219%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M8.47 0C8.47 12.21 2.16 30.88 0 30.88C-2.08 30.88 -3.32 12.12 0 0C0.91 -3.32 8.47 -3.23 8.47 0' stroke='rgba(52%2c 152%2c 219%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M853.66 175C865.26 166.66 861.51 155.98 875 155.98C934.68 155.98 990.66 136.43 1000 175C1014.16 233.44 969.1 268.45 922.01 350C906.6 376.68 904.21 384.29 875 391.45C793.21 411.49 783.06 417.21 700 404.39C648.76 396.48 606.4 379.62 606.4 350C606.4 318.31 652.73 315.23 700 281.78C776.36 227.73 777.76 229.56 853.66 175' stroke='rgba(52%2c 152%2c 219%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1050 143.18C1022.52 79.27 1018.5 58.93 1018.5 0C1018.5 -12.66 1034.25 0 1050 0C1137.5 0 1137.5 0 1225 0C1244.2 0 1260.46 -15.74 1263.41 0C1276.86 71.76 1247.08 89.15 1257.81 175C1268.95 264.15 1316.58 269.15 1307.14 350C1300.18 409.61 1261.45 455.92 1225 455.92C1192.43 455.92 1194.43 404.21 1169.1 350C1128.8 263.75 1140.13 255.54 1093.75 175C1080.58 152.13 1060.14 166.77 1050 143.18' stroke='rgba(52%2c 152%2c 219%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M0 682.05C14.71 682.05 41.18 695.32 41.18 700C41.18 704.29 14.34 706.25 0 700C-6.25 697.28 -5.88 682.05 0 682.05' stroke='rgba(52%2c 152%2c 219%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M236.49 700C236.49 684.08 297.2 640 350 640C386.26 640 414.62 682.69 414.62 700C414.62 712.69 382.31 700 350 700C293.25 700 236.49 714.08 236.49 700' stroke='rgba(52%2c 152%2c 219%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1047.22 700C1047.22 698.48 1047.62 696.63 1050 695.39C1136.51 650.15 1146.19 605.62 1225 607.03C1275.01 607.92 1307.64 672.07 1307.64 700C1307.64 718.56 1266.32 700 1225 700C1137.5 700 1137.5 700 1050 700C1048.61 700 1047.22 700.78 1047.22 700' stroke='rgba(52%2c 152%2c 219%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1027'%3e%3crect width='1440' height='700' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e") !important;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.details-container{
  width: 500px;
  position: relative;
  height: fit-content;
  background-color: var(--white);
  padding: 15px;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.details-container h2{
  color: var(--dark);
  font-size: 22px;
}
.details-container h1{
  color: var(--main);
  /* text-align: center; */
  margin:5px 0px 25px 0px;
}
.details-container h4{
  color: var(--main);
  font-size: 18px;
  margin-bottom: 4px;
}
.details-container ul{
  list-style: none;
  margin-bottom: 20px;
}
.content{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  color: var(--white);
}
.content .rem-right{
  height: 75%;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #ffffff74;
}
.email{
  margin-top: 5px;
  color: #94cef5;
  margin-bottom: 25px;
}
.rem-right .rem-stats{
  display: flex;
  align-items: center;
}
.rem-stat{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 20px;
}
.rem-stat:first-child{
  border-right: 1px solid #94cef5;
}
.rem-stat:last-child{
  border-left: 1px solid #94cef5;
}
.rem-stat h4{
  font-size: 24px;
}
.rem-stat span{
  font-size: 14px;
}
.rem-right button{
  background-color: var(--white);
  color: var(--main);
  padding: 10px 40px;
  border: none;
  border-radius: 7px;
  font-size: 16px;
  margin-top: 15px;
  cursor: pointer;
}
.rem-left{
  width: 70%;
  gap: 45px;
  height: 75%;
  padding: 0px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.rem-top{
  display: flex;
  flex-wrap: wrap;
  gap: 20px 50px;
}
.rem-mini{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rem-mini p{
  color: #c9e9fe;
  font-weight: 600;
  letter-spacing: 1px;
}
.rem-btm{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.p-appts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
  padding: 10px 0px;
  flex-wrap: wrap;
}


.p-appts .appt {
  width: 580px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.refresh{
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 200px;
  background-color: #20c263;
  color: white;
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 22px;
}
.doctors{
  margin-top: 15px;
}
.d-card {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin-bottom: 2rem;
  width: 320px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: #fff;
  background-size: cover;
  background-position: center;
  padding: 1.5rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.d-card .card-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.d-card .title {
  font-size: 22px;
  line-height: 2rem;
  font-weight: 700;
  color: var(--main);
}

.d-card .price {
  font-size: 30px;
  line-height: 1;
  font-weight: 700;
  color: var(--dark)
}

.d-card .desc {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  line-height: 1.625;
  color: #9ca3af;
}

.d-card .lists {
  margin-bottom: 1.5rem;
  flex: 1 1 0%;
  overflow: auto;
  color: rgba(156, 163, 175, 1);
}

.d-card .lists .list {
  margin-bottom: 0.5rem;
  display: flex;
  margin-left: 0.5rem;
  align-items: center;
  width: 95%;
}

.d-card .lists .list i {
  margin-right: 10px;
  color: var(--main);
  width: 5%;
}
.d-card .lists .list span {
  font-size: 16px;
  color: var(--dark);
  width: 95%;
}
.d-card .buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.d-card .action {
  border: none;
  outline: none;
  display: inline-block;
  border-radius: 0.25rem;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='700' preserveAspectRatio='none' viewBox='0 0 1440 700'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1009%26quot%3b)' fill='none'%3e%3crect width='1440' height='700' x='0' y='0' fill='rgba(52%2c 152%2c 219%2c 1)'%3e%3c/rect%3e%3cpath d='M727.94-96.24C617.63-24.59 730.01 316.88 481.55 368.63 233.08 420.38 124.7 593.99-11.24 599.63' stroke='rgba(250%2c 250%2c 250%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M803.6-21.1C681.42 27.57 774.2 371.61 490.95 401.98 207.7 432.35 31.68 622.63-134.34 625.98' stroke='rgba(250%2c 250%2c 250%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M860.34-104.3C650.43-40.04 598.79 549.63 286.23 560.11-26.33 570.59-138.34 393.82-287.88 392.11' stroke='rgba(250%2c 250%2c 250%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1289.09-75.21C1101.2-65 991.48 256.04 621.52 272.4 251.56 288.76 136.2 559.98-46.05 566.4' stroke='rgba(250%2c 250%2c 250%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1166.41-24.96C989.79 59.37 992.54 604.43 736.16 629.1 479.77 653.77 521.03 541.6 305.9 541.6 90.78 541.6-14.59 628.66-124.35 629.1' stroke='rgba(250%2c 250%2c 250%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1009'%3e%3crect width='1440' height='700' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-position: center;
  background-size: cover;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: var(--white);
  width: 67%;
  flex-grow: 1;
}
.d-price{
  width: 33%;
  margin-left: 10px;
  font-size: 20px;
  color: var(--dark);
  text-align: right;
}
.updateForm{
  display: flex;
  align-items: center;
}
.right-update{
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 400px;
  padding-right: 25px;
}
.left-update{
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 400px;
  padding-left: 25px;
  border-left: solid 2px #9ca3af72;
}
.right-update .group {
  margin: 0px;
}
.left-update .group {
  margin: 10px 0px;
}
.right-update button{
  background-color: transparent;
  color: var(--main);
  padding: 15px 0px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  text-decoration: underline 1px ;
  text-align: left;
}
.updateBtn{
  background-color: var(--main);
  color: var(--white);
  padding: 10px 40px;
  border: none;
  border-radius: 7px;
  font-size: 16px;
  cursor: pointer;
  align-self: flex-end;
}
form:has(.updateBtn){
  display: flex;
  flex-direction: column;
  gap: 15px;
}