header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 40px;
  background-color: transparent;
  color: var(--black);
  position: fixed;
  width: 100%;
}

header h1 {
  padding: 7px 15px;
}

nav {
  display: flex;
  align-items: center;
  gap: 30px;
}

nav a {
  color: var(--black);
  text-decoration: none;
  font-size: 18px;
}

.btn {
  background-color: var(--dodger-blue);
  padding: 7px 15px;
  color: var(--white);
  font-size: 18px;
  text-decoration: none;
  border-radius: 20px;
}

section {
  height: 92vh;
  width: 100%;
}

#hero{
  display: flex;
  background-color: white;
  padding: 100px 55px 0px 55px;
}
