@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}
:root{
  --black : #212429;
  --byzantine-blue : #0f4fd9;
  --brandeis-blue : #1672eb;
  --dodger-blue : #1e96fc;
  --argentinian-blue : #60b6fb;
  --uranian-blue : #a2d6f9;
  --white : #F3FAFF;
  --mustard : #ffdb57;
  --jonquil : #ffd020;
}